# Code editor / IDE specific
.vscode

# Build output
build/

# Libraries/Dependencies
include/limine
/limine/
/limine-protocol/
#!include/limine/limine.h

.DS_Store
**/.DS_Store


#shared/libc/math/math.c
#shared/libc/math/pi.h
shared/libc/math/complete_pi.txt

#shared/libc/std/


tools/converter.py

.zig-cache/

test

etc.txt
